<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Sky Dropdown Menu</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/bootstrap-additions.css">
  <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/angular-motion.css">
  <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/libraries.min.css">
  <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/main.min.css">  
</head>
<body ng-controller="MainCtrl">
  <nav role="navigation" class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"></a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/movies">HOME</a></li>
            <li><a href="#/">NEW RELEASES</a></li>
            <li><a href="#">COLLECTIONS</a></li>
            <li><a href="#">GENRES</a></li>
            <li><a href="#">MOVIE CHANNELS</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">MY MOVIES</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <div class="bs-docs-section" ng-controller="TypeaheadDemoCtrl">
            <div append-source>
              <form class="form-inline" role="form">
                <div style="margin: 8px 150px 0px -22px;" class="form-group">
                  <input type="text" class="form-control" ng-model="selectedMovie" ng-options="movie.title as movie.title for movie in movies | orderBy:predicate" placeholder="search" ng-enter="goTo(selectedMovie)" bs-typeahead>
                </div>
              </form>
            </div>
            </div>
        </ul>
    </div>
</nav>

  <div ng-view></div>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/angular/angular-animate.js"></script>
  <script src="lib/angular/angular-sanitize.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>  
  
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
